<div class="container marketing">
    <h1>
        {{title}}
    </h1>
    <div class="row featurette">
        <a name="favoritplaces"></a>
        <div class="col-md-12">
            <h2 class="featurette-heading">Best Travels.
                <span class="text-muted">It'll blow your mind.</span>
            </h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent
                commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            <app-location-list [locationsList]="locations" (onLocationSelected)="locationWasSelected($event)"></app-location-list>
        </div>
    </div>
    <div>
        Travel budget: <input name="budget" value="0"/> (TODO: Bind to the current selected travel)
    </div>
</div>